/* Global styles like * or body are not allowed in CSS modules */
.box {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #f6e7d8;
  border-radius: 50%;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px 100px;
  background: linear-gradient(#a16e00, #aa883f);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  background-color: #f5a524;
  inset: 10px;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 30px;
  border: 6px solid #f6e7d8;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.content h2 {
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
}

.content h2 span {
  display: block;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0;
}

.content a {
  position: relative;
  background-color: #fff;
  color: #f5a524;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}

.content a:hover {
  letter-spacing: 3px;
}

.box:hover::before {
  inset: -20px 0px;
}

.box:hover .img {
  opacity: 0;
}

@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
